<% unless user_signed_in? %>
  <div class="bottom-0 h-10 bg-white max-w-xl w-full mb-5 flex justify-around shadow-inner p-2">
    <%= link_to "Login", new_user_session_path %>
  </div>
<% end %>

<%= render 'posts/post', post: @post, show_details: false %>
<%= turbo_frame_tag "reactions_for_post_#{@post.id}" do %>
  <%= render 'reactions/reaction', post: @post %>
<% end %>
